@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}

body {
  width: 100%;
  display: flex;
  min-width: 320px;
  flex-direction: column;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Museo", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Museo", sans-serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.drop-list-triangle::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 11px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: #fff transparent transparent transparent;
  transition: border-color 0.3s ease;
}

.drop-list-triangle:hover span {
  color: #a2a2a2;
}

.drop-list-triangle:hover::after {
  border-color: #a2a2a2 transparent transparent transparent;
}

.drop-list-content {
  position: absolute;
  background: #fff;
  padding: 10px;
  left: -30px;
  top: 40px;
  border-radius: 3px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  align-items: center;
  flex-wrap: wrap;
  z-index: 4234;
}

.drop-list-content-scroll {
  position: relative;
  padding: 0 20px;
}

.review {
  position: relative;
  background: #8c9f3f;
  color: #fff;
  font-size: 14px;
  line-height: 40px;
  height: 40px;
  border: none;
  width: 100%;
  text-align: left;
  padding: 0 15px 0 40px;
  text-decoration: none;
  border-radius: 3px;
  display: inline-block;
  white-space: nowrap;
  transition: 0.3s ease;
}

.message-icon {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
}

.review:hover {
  background-color: #91b306;
}

.shopping-cart-icon {
  display: inline-block;
  position: relative;
}

.shopping-cart-icon::after {
  content: attr(data-cart);
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  background: #fff;
  color: #000;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: block;
  top: -5px;
  right: -5px;
}

.shopping-cart > a > span:last-child {
  transition: 0.3s ease;
}

.shopping-cart:hover > a > span:last-child {
  color: #a2a2a2;
}

.user-cabinet span {
  transition: 0.3s ease;
}

.user-cabinet span:hover {
  color: #a2a2a2;
}

.hamburger-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 80px;
  max-height: 0;
  overflow: hidden;
  width: 100%;
  background: #f7f7f9;
  z-index: 4444;
  -webkit-transition: max-height 0.3s ease;
  transition: 0.3s ease;
  height: 100%;
}

.hamburger-menu.open {
  max-height: 100%;
}

.hamburger-menu.closed {
  max-height: 0;
}

.copyright {
  text-align: center;
  margin: 0;
}

.wrapper-hamburger-menu-top {
  padding: 20px;
  text-align: center;
}

.rs-list a {
  color: #000000;
}

.rs-list .drop-list-triangle::after {
  border-color: #000000 transparent transparent transparent;
}

.rs-list .drop-list-triangle:hover::after {
  border-color: #a2a2a2 transparent transparent transparent;
}

.user-cabinet:hover {
  color: transparent;
}

.rs-list .drop-list-content {
  left: -200px;
}

.category-menu {
  position: fixed;
  top: 80px;
  left: 0;
  height: calc(100% - 80px);
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  width: 80px;
  overflow: hidden;
  transition: all 0.3s ease 0s;
  z-index: 335;
}

.category-menu:hover {
  width: 200px;
}

.category-menu span {
  transition: all 0.3s ease 0s;
  display: none;
}

.category-menu:hover span {
  display: block;
}

.slick-list {
  width: calc(100% - 80px);
  margin-left: auto;
}

:focus-visible {
  outline: none;
}

.discount-section {
  max-height: 650px;
  position: relative;
}

.slick-list img {
  max-height: 450px;
  max-width: 1920px;
  margin: 0 auto;
}

.slick-prev,
.slick-next {
  width: 60px;
  height: 60px;
  z-index: 999;
}

.slick-prev:before,
.slick-next:before {
  content: none;
}

.arrow {
  transition: 0.3s ease;
  background-color: rgba(0, 0, 0, 0.3);
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.seo-block {
  padding: 40px 40px 40px 120px;
  font-size: 14px;
  line-height: 20px;
}

.copyright {
  color: #b8b8b8;
  font-size: 14px;
  line-height: 20px;
}

.word-sort {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.sort-filter::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: #000 transparent transparent transparent;
}

footer {
  padding: 40px;
  padding-left: 120px;
}

.sort-filter-list-popup {
  display: none;
  position: absolute;
  background: #fff;
  padding: 0 20px;
  right: -10px;
  top: 40px;
  border-radius: 3px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}

.sort-filter-list-popup ul li {
  margin: 15px 0;
  text-align: left;
}

.sort-filter-list-popup ul li a {
  color: #000;
  cursor: pointer;
  transition: 0.3s ease;
}

.sort-filter-list-popup ul li a:hover {
  color: #e1b787;
}

.section-filters {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  z-index: 334;
}

.catalog-products {
  padding-left: 40px;
  padding-right: 40px;
  padding: 100px 80px 0;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1) inset, 0 0 3px rgba(0, 0, 0, 0.2);
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.products-list .product-item {
  margin: 0 30px 30px;
  position: relative;
}

header {
  height: 80px;
  z-index: 999;
  position: fixed;
}

.product-title {
  color: #000;
  font-size: 24px;
  line-height: 30px;
  font-family: Museo700, sans-serif;
  max-height: 90px;
  overflow: hidden;
  margin-bottom: 10px;
}

.product-title a {
  color: #000;
  cursor: pointer;
  font-weight: 700;
}

.product-properties {
  padding: 20px 20px 30px;
}

.product-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}

.product-weight {
  color: #b1b1b1;
  font-size: 14px;
  line-height: 18px;
  height: 28px;
  overflow: hidden;
}

.product-description {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  color: gray;
  height: 54px;
  overflow: hidden;
  font-family: "Museo300", sans-serif;
  margin-bottom: 15px;
}

.product-additional {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.product-additional label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  font-size: 14px;
  padding-left: 34px;
}

.product-additional input {
  display: none;
}

.product-additional-name {
  position: relative;
  cursor: pointer;
}

.product-additional-name::before {
  border-radius: 4px;
  border: 2px solid #a0a0a0;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 22px;
  left: -34px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease-in;
  width: 22px;
}

.product-additional-price {
  font-weight: 400;
}

.seo-block-products {
  padding: 40px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Museo", sans-serif;
}

.product-additional-name::after {
  background-image: url("https://raw.githubusercontent.com/Kerchiano/storage-photos/eff971fe6a15f7b72f357d3c5f95bf035be3bcfd/pizza_photos/icon-checkbox.svg");
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  content: "";
  display: none;
  height: 9px;
  left: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
}

.product-additional input:checked + .product-additional-name::before {
  border-color: #91b306;
}

.product-additional input:checked + .product-additional-name::after {
  display: block;
}

.product-price {
  margin-top: 40px;
  display: flex;
  font-weight: 600;
  font-family: "Museo", sans-serif;
}

.price {
  width: 40%;
  line-height: 50px;
  font-size: 24px;
  color: #000;
}

.price-cart {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.price-btn {
  background: #fff;
  border: 1px solid #8c9f3f;
  color: #8c9f3f;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 3px;
  transition: 0.3s ease;
}
.price-cart:hover .price-btn {
  background: #8c9f3f;
  color: #fff;
}

.products-list .product-item:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.product-page {
  display: flex;
  padding: 80px 0 0 80px;
  background: #fff;
  border-bottom: 1px solid #f4f4f4;
}

.product-page-content {
  padding-left: 40px;
  width: 100%;
}

.product-page-inside {
  margin-top: 40px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding-right: 40px;
}

.product-img {
  width: 450px;
  height: 450px;
  position: relative;
  margin-right: 40px;
  margin-bottom: 40px;
}

.product-detail-description {
  width: calc(100% - 490px);
  padding-right: 0;
  margin-bottom: 40px;
}

.product-detail-description h1 {
  color: #000;
  font-size: 36px;
  font-family: "Museo", sans-serif;
  font-weight: 700;
  margin-bottom: 18px;
  margin-top: 0;
}

.supplements-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 22px;
  margin-top: 12px;
}

.supplements-content {
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
  margin-bottom: 40px;
}

.supplements-content-item {
  display: block;
}

.supplements-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 50px;
  justify-content: space-between;
  line-height: 1.4;
  width: 100%;
}

.supplements-item-name {
  font-size: 16px;
  opacity: 0.7;
  padding-left: 40px;
  position: relative;
}

.supplements-item-name::before {
  border-radius: 4px;
  border: 2px solid #a0a0a0;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 22px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
}

.supplements-item-name::after {
  background-image: url("https://raw.githubusercontent.com/Kerchiano/storage-photos/eff971fe6a15f7b72f357d3c5f95bf035be3bcfd/pizza_photos/icon-checkbox.svg");
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  content: "";
  display: none;
  height: 9px;
  left: 4px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
}

.supplements-item input:checked + .supplements-item-name::before {
  border-color: #91b306;
}

.supplements-item input:checked + .supplements-item-name::after {
  display: block;
}

.supplements-item-price {
  font-size: 18px;
  font-weight: 700;
}

.bottom {
  background-color: #f4f4f4;
  padding: 25px 40px 40px;
}

.price-wrap-btn {
  margin-bottom: 20px;
}

.price-less {
  color: #000;
  font-family: "Museo", sans-serif;
  font-size: 34px;
  font-weight: 700;
  height: 50px;
}

.description {
  margin-bottom: 20px;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 20px;
}

.product-buy-button {
  background: #8c9f3f;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  margin-top: 10px;
  min-width: 230px;
  padding: 11px 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.product-buy-button span {
  display: block;
  padding: 5px 0;
}

.product-buy-button:hover {
  background: #91b306;
}

.free-delivery {
  background: url("https://raw.githubusercontent.com/Kerchiano/storage-photos/refs/heads/main/data/delivery-icon.png")
    0 center no-repeat;
  color: #000;
  font-size: 16px;
  font-family: Museo, sans-serif;
  display: flex;
  align-items: center;
  padding-left: 80px;
  height: 50px;
}

.discount {
  background: url("https://raw.githubusercontent.com/Kerchiano/storage-photos/refs/heads/main/data/discount-icon.png")
    20px center no-repeat;
  border-top: 1px solid #e9e9e9;
  color: #000;
  font-size: 16px;
  font-family: Museo, sans-serif;
  display: flex;
  align-items: center;
  padding-left: 80px;
  height: 50px;
}

.description-desktop {
  margin-bottom: 20px;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 20px;
}
.description-desktop p {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 1.4;
  color: #6b6b6b;
}

.mobile-supplements-content {
  display: none;
}

.description-mobile {
  display: none;
}

.mobile-bottom {
  display: none;
}

@media (max-width: 1023px) {
  .category-menu {
    top: 60px;
    height: 60px;
    width: 100% !important;
  }

  .discount-section {
    padding-top: 120px;
  }

  .drop-list-content {
    left: -180px;
  }

  .slick-prev {
    left: 40px !important;
  }

  .slick-list {
    width: 100%;
  }

  .category-menu ul {
    display: block;
    white-space: nowrap;
    overflow-y: scroll !important;
  }

  .category-menu ul li {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
  }

  .hamburger-menu {
    top: 60px;
  }

  .category-menu ul li a {
    padding: 15px 20px;
    width: auto;
  }

  .category-menu ul li a span {
    display: block !important;
    white-space: nowrap;
  }

  .mobile-supplements-content {
    display: block;
    margin: 25px 0;
  }

  .mobile-supplements-item {
    align-items: center;
    background: #f2f2f2;
    border-radius: 44px;
    display: flex;
    font-size: 14px;
    min-height: 38px;
    justify-content: space-between;
    margin: 5px 0;
  }

  .mobile-supplements-item input {
    display: none;
  }

  .mobile-supplements-item
    input[type="checkbox"]:not(:checked)
    + .mobile-supplements-item-name {
    padding-left: 45px;
    padding-right: 16px;
  }

  .mobile-supplements-item
    input[type="checkbox"]:checked
    + .mobile-supplements-item-name {
    padding-left: 16px;
    padding-right: 45px;
  }

  .mobile-supplements-item-name {
    align-items: center;
    background: #fff;
    border-radius: 40px;
    border: 1px solid #8c9f3f;
    display: inline-flex;
    min-height: 38px;
    height: 100%;
    flex: 0 0 65%;
    position: relative;
    transition: all 0.2s;
    width: 65%;
    font-size: 14px;
  }

  .mobile-supplements-item
    input[type="checkbox"]:not(:checked)
    + .mobile-supplements-item-name::after {
    background-image: url("https://raw.githubusercontent.com/Kerchiano/storage-photos/168d09ccf9bf6face5013290c1d273a8d805b1d1/pizza_photos/icon-plus.svg");
    left: 2px;
  }

  .mobile-supplements-item
    input[type="checkbox"]:checked
    + .mobile-supplements-item-name::after {
    background-image: url("https://raw.githubusercontent.com/Kerchiano/storage-photos/168d09ccf9bf6face5013290c1d273a8d805b1d1/pizza_photos/icon-check.svg");
    right: 2px;
  }

  .mobile-supplements-item-name::after {
    background-color: #8c9f3f;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    font-size: 14px;
  }

  .mobile-supplements-item
    input[type="checkbox"]:not(:checked)
    ~ .mobile-supplements-item-price {
    color: #8d8d8d;
  }
  .mobile-supplements-item-price {
    display: inline-block;
    flex: 0 0 35%;
    font-weight: 700;
    padding-right: 18px;
    text-align: right;
    transition: all 0.2s;
    width: 35%;
  }

  .mobile-supplements-item
    input[type="checkbox"]:checked
    ~ .mobile-supplements-item-price
    .without_price {
    display: none;
  }

  .mobile-supplements-item
    input[type="checkbox"]:not(:checked)
    ~ .mobile-supplements-item-price
    .with_price {
    display: none;
  }

  .product-page-inside {
    padding-right: 0;
  }

  .product-img {
    height: auto;
    text-align: center;
    position: relative;
    display: block;
    width: auto;
    margin: 0 auto 20px;
  }

  .product-img img {
    width: auto;
    height: auto;
    max-width: 100%;
  }
  .description-desktop {
    display: none;
  }

  .supplements-less {
    display: none;
  }

  .product-page {
    padding: 20px 20px 0;
  }

  .product-page-content {
    padding-left: 0;
  }

  .product-page-inside {
    padding-right: 0;
  }

  .product-detail-description {
    width: 100%;
  }

  .description-mobile {
    color: rgba(0, 0, 0, 0.7);
    display: block;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 20px;
    border-bottom: none;
    padding-bottom: 0;
  }

  .bottom .free-delivery {
    display: none;
  }

  .bottom .discount {
    display: none;
  }

  .mobile-bottom {
    background-color: #fff;
    display: block;
    padding: 24px 0;
    width: 100%;
  }

  .price-wrap-btn {
    margin-bottom: 0;
  }

  .mobile-bottom-container {
    border: 1px solid #ccc;
    padding: 0 25px;
  }

  .free-delivery,
  .discount {
    width: 100%;
    background-image: none;
    padding: 16px 0;
    color: #262626;
  }

  .discount {
    border-top: 1px dashed #ccc;
  }
}

@media (max-width: 766px) {
  .product-detail-description h1 {
    margin-top: 0;
    font-size: 30px;
    line-height: 1.2;
  }

  .price-less span {
    font-size: 24px;
  }

  footer {
    padding: 40px;
  }
}

@media (max-width: 1600px) {
  .products-list .product-item {
    width: calc(33.333% - 60px);
  }
}

@media (max-width: 1200px) {
  .products-list .product-item {
    width: calc(50% - 60px);
  }
}

@media (max-width: 1023px) {
  main {
    margin-top: 120px;
    padding-left: 0 !important;
    padding-top: 0 !important;
  }

  .products-filters {
    padding: 10px 20px 0 !important;
    width: 100%;
    top: 120px;
  }

  header {
    height: 60px;
    transition: all 0.3s ease 0s;
  }

  .catalog-products {
    padding: 30px 20px 20px !important;
  }

  .seo-block {
    padding: 40px 20px;
  }
}

@media (max-width: 840px) {
  .products-list {
    margin: 0;
    justify-content: center;
  }

  .products-list .product-item {
    width: calc(50% - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 600px) {
  .products-list {
    padding: 0;
  }

  .products-list .product-item {
    width: 100%;
    max-width: 375px;
    margin: 0 0 15px;
  }
  .logo-mafia {
    height: 22px;
  }

  .bottom {
    padding: 25px 15px;
  }
}

@media (max-width: 1750px) {
  .catalog-products {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 479px) {
  .product-img img {
    height: 260px;
    object-fit: cover;
    width: 100%;
  }

  .product-detail-description h1 {
    font-size: 24px;
    line-height: 1.2;
  }

  .slick-prev,
  .slick-next {
    display: none !important;
  }
}
