@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Museo", sans-serif;
  background-color: #ffffff;
  color: black;
}

input, select, textarea {
  background-color: #ffffff;
  color: black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Museo", sans-serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.wrap-pay-check {
  width: calc(100% + 60px);
  background-color: #f4f4f4;
  margin: -30px;
  margin-top: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.drop-list-triangle::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 11px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: #fff transparent transparent transparent;
  transition: border-color 0.3s ease;
}

.drop-list-triangle:hover span {
  color: #a2a2a2;
}

.drop-list-triangle:hover::after {
  border-color: #a2a2a2 transparent transparent transparent;
}

.drop-list-content {
  position: absolute;
  background: #fff;
  padding: 10px;
  left: -30px;
  top: 40px;
  border-radius: 3px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  align-items: center;
  flex-wrap: wrap;
  z-index: 4234;
}

.drop-list-content-scroll {
  position: relative;
  padding: 0 20px;
}

.review {
  position: relative;
  background: #8c9f3f;
  color: #fff;
  font-size: 14px;
  line-height: 40px;
  height: 40px;
  border: none;
  width: 100%;
  text-align: left;
  padding: 0 15px 0 40px;
  text-decoration: none;
  border-radius: 3px;
  display: inline-block;
  white-space: nowrap;
  transition: 0.3s ease;
  cursor: pointer;
}

.message-icon {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
}

.review:hover {
  background-color: #91b306;
}

.shopping-cart-icon {
  display: inline-block;
  position: relative;
}

.shopping-cart-icon::after {
  content: attr(data-cart);
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  background: #fff;
  color: #000;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: block;
  top: -5px;
  right: -5px;
}

.shopping-cart > a > span:last-child {
  transition: 0.3s ease;
}

.shopping-cart:hover > a > span:last-child {
  color: #a2a2a2;
}

.user-cabinet span {
  transition: 0.3s ease;
}

.user-cabinet span:hover {
  color: #a2a2a2;
}

.hamburger-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 80px;
  max-height: 0;
  overflow: hidden;
  width: 100%;
  background: #f7f7f9;
  z-index: 4444;
  -webkit-transition: max-height 0.3s ease;
  transition: 0.3s ease;
  height: 100%;
}

.hamburger-menu.open {
  max-height: 100%;
}

.hamburger-menu.closed {
  max-height: 0;
}

.copyright {
  text-align: center;
  margin: 0;
}

.wrapper-hamburger-menu-top {
  padding: 20px;
  text-align: center;
}

.rs-list a {
  color: #000000;
}

.rs-list .drop-list-triangle::after {
  border-color: #000000 transparent transparent transparent;
}

.rs-list .drop-list-triangle:hover::after {
  border-color: #a2a2a2 transparent transparent transparent;
}

.user-cabinet:hover {
  color: transparent;
}

.rs-list .drop-list-content {
  left: -200px;
}

.category-menu {
  position: fixed;
  top: 80px;
  left: 0;
  height: calc(100% - 80px);
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  width: 80px;
  overflow: hidden;
  transition: all 0.3s ease 0s;
  z-index: 335;
}

.category-menu:hover {
  width: 200px;
}

.category-menu span {
  transition: all 0.3s ease 0s;
  display: none;
}

.category-menu:hover span {
  display: block;
}

.slick-list {
  width: calc(100% - 80px);
  margin-left: auto;
}

:focus-visible {
  outline: none;
}

.discount-section {
  max-height: 650px;
  position: relative;
}

.slick-list img {
  max-height: 450px;
  max-width: 1920px;
  margin: 0 auto;
}

.slick-prev,
.slick-next {
  width: 60px;
  height: 60px;
  z-index: 999;
}

.slick-prev:before,
.slick-next:before {
  content: none;
}

.arrow {
  transition: 0.3s ease;
  background-color: rgba(0, 0, 0, 0.3);
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.seo-block {
  padding: 40px 40px 40px 120px;
  font-size: 14px;
  line-height: 20px;
}

.copyright {
  color: #b8b8b8;
  font-size: 14px;
  line-height: 20px;
}

.word-sort {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.sort-filter::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: #000 transparent transparent transparent;
}

footer {
  padding: 40px;
  padding-left: 120px;
}

.sort-filter-list-popup {
  display: block;
  position: absolute;
  background: #fff;
  padding: 0 20px;
  right: -10px;
  top: 40px;
  border-radius: 3px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}

.sort-filter-list-popup ul li {
  margin: 15px 0;
  text-align: left;
}

.sort-filter-list-popup ul li a {
  color: #000;
  cursor: pointer;
  transition: 0.3s ease;
}

.sort-filter-list-popup ul li a:hover {
  color: #e1b787;
}

.section-filters {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  z-index: 334;
}

.catalog-products {
  min-height: 600px;
  padding-left: 40px;
  padding-right: 40px;
  padding: 100px 80px 0;
  padding-top: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1) inset, 0 0 3px rgba(0, 0, 0, 0.2);
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.products-list .product-item {
  margin: 0 30px 30px;
  position: relative;
}

header {
  height: 80px;
  z-index: 999;
  position: fixed;
}

.product-title {
  color: #000;
  font-size: 24px;
  line-height: 30px;
  font-family: Museo700, sans-serif;
  max-height: 90px;
  overflow: hidden;
  margin-bottom: 10px;
}

.product-title a {
  color: #000;
  cursor: pointer;
  font-weight: 700;
}

.product-properties {
  padding: 20px 20px 30px;
}

.product-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}

.product-weight {
  color: #b1b1b1;
  font-size: 14px;
  line-height: 18px;
  height: 28px;
  overflow: hidden;
}

.product-description {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  color: gray;
  height: 54px;
  overflow: hidden;
  font-family: "Museo300", sans-serif;
  margin-bottom: 15px;
}

.product-additional {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.product-additional label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  font-size: 14px;
  padding-left: 34px;
}

.product-additional input {
  display: none;
}

.product-additional-name {
  position: relative;
  cursor: pointer;
}

.product-additional-name::before {
  border-radius: 4px;
  border: 2px solid #a0a0a0;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 22px;
  left: -34px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease-in;
  width: 22px;
}

.product-additional-price {
  font-weight: 400;
}

.seo-block-products {
  padding: 40px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Museo", sans-serif;
}

.product-additional-name::after {
  background-image: url("https://raw.githubusercontent.com/Kerchiano/storage-photos/eff971fe6a15f7b72f357d3c5f95bf035be3bcfd/pizza_photos/icon-checkbox.svg");
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  content: "";
  display: none;
  height: 9px;
  left: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
}

.product-additional input:checked + .product-additional-name::before {
  border-color: #91b306;
}

.product-additional input:checked + .product-additional-name::after {
  display: block;
}

.product-price {
  margin-top: 40px;
  display: flex;
  font-weight: 600;
  font-family: "Museo", sans-serif;
}

.price {
  width: 40%;
  line-height: 50px;
  font-size: 24px;
  color: #000;
}

.price-cart {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.price-btn {
  background: #fff;
  border: 1px solid #8c9f3f;
  color: #8c9f3f;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 3px;
  transition: 0.3s ease;
}
.price-cart:hover .price-btn {
  background: #8c9f3f;
  color: #fff;
}

.products-list .product-item:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.product-page {
  display: flex;
  padding: 80px 0 0 80px;
  background: #fff;
  border-bottom: 1px solid #f4f4f4;
}

.product-page-content {
  padding-left: 40px;
  width: 100%;
}

.product-page-inside {
  margin-top: 40px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding-right: 40px;
}

.product-img {
  width: 450px;
  height: 450px;
  position: relative;
  margin-right: 40px;
  margin-bottom: 40px;
}

.product-detail-description {
  width: calc(100% - 490px);
  padding-right: 0;
  margin-bottom: 40px;
}

.product-detail-description h1 {
  color: #000;
  font-size: 36px;
  font-family: "Museo", sans-serif;
  font-weight: 700;
  margin-bottom: 18px;
  margin-top: 0;
}

.supplements-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 22px;
  margin-top: 12px;
}

.supplements-content {
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
  margin-bottom: 40px;
}

.supplements-content-item {
  display: block;
}

.supplements-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 50px;
  justify-content: space-between;
  line-height: 1.4;
  width: 100%;
}

.supplements-item-name {
  font-size: 16px;
  opacity: 0.7;
  padding-left: 40px;
  position: relative;
}

.supplements-item-name::before {
  border-radius: 4px;
  border: 2px solid #a0a0a0;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 22px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
}

.supplements-item-name::after {
  background-image: url("https://raw.githubusercontent.com/Kerchiano/storage-photos/eff971fe6a15f7b72f357d3c5f95bf035be3bcfd/pizza_photos/icon-checkbox.svg");
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  content: "";
  display: none;
  height: 9px;
  left: 4px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
}

.supplements-item input:checked + .supplements-item-name::before {
  border-color: #91b306;
}

.supplements-item input:checked + .supplements-item-name::after {
  display: block;
}

.supplements-item-price {
  font-size: 18px;
  font-weight: 700;
}

.bottom {
  background-color: #f4f4f4;
  padding: 25px 40px 40px;
}

.price-wrap-btn {
  margin-bottom: 20px;
}

.price-less {
  color: #000;
  font-family: "Museo", sans-serif;
  font-size: 34px;
  font-weight: 700;
  height: 50px;
}

.description {
  margin-bottom: 20px;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 20px;
}

.product-buy-button {
  background: #8c9f3f;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  margin-top: 10px;
  min-width: 230px;
  padding: 11px 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.button-active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-active input {
  color: #fff;
  font-size: 18px;
  background: 0 0;
  border: none;
  width: 35px;
  text-align: center;
  height: 20px;
  margin: 0 5px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0;
}

.product-buy-button span {
  display: block;
  padding: 5px 0;
}

.product-buy-button:hover {
  background: #91b306;
}

.free-delivery {
  background: url("https://raw.githubusercontent.com/Kerchiano/storage-photos/refs/heads/main/data/delivery-icon.png")
    0 center no-repeat;
  color: #000;
  font-size: 16px;
  font-family: Museo, sans-serif;
  display: flex;
  align-items: center;
  padding-left: 80px;
  height: 50px;
}

.discount {
  background: url("https://raw.githubusercontent.com/Kerchiano/storage-photos/refs/heads/main/data/discount-icon.png")
    20px center no-repeat;
  border-top: 1px solid #e9e9e9;
  color: #000;
  font-size: 16px;
  font-family: Museo, sans-serif;
  display: flex;
  align-items: center;
  padding-left: 80px;
  height: 50px;
}

.description-desktop {
  margin-bottom: 20px;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 20px;
}
.description-desktop p {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 1.4;
  color: #6b6b6b;
}

.mobile-supplements-content {
  display: none;
}

.description-mobile {
  display: none;
}

.mobile-bottom {
  display: none;
}

@media (max-width: 1023px) {
  .category-menu {
    top: 60px;
    height: 60px;
    width: 100% !important;
  }

  .discount-section {
    margin-top: 120px;
  }

  .slick-prev {
    left: 40px !important;
  }

  .slick-list {
    width: 100%;
  }

  .category-menu ul {
    display: block;
    white-space: nowrap;
    overflow-y: scroll !important;
  }

  .category-menu ul li {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
  }

  .hamburger-menu {
    top: 60px;
  }

  .category-menu ul li a {
    padding: 15px 20px;
    width: auto;
  }

  .category-menu ul li a span {
    display: block !important;
    white-space: nowrap;
  }

  .mobile-supplements-content {
    display: block;
    margin: 25px 0;
  }

  .mobile-supplements-item {
    align-items: center;
    background: #f2f2f2;
    border-radius: 44px;
    display: flex;
    font-size: 14px;
    min-height: 38px;
    justify-content: space-between;
    margin: 5px 0;
  }

  .pop-cart.block {
    top: 60px;
  }

  .mobile-supplements-item input {
    display: none;
  }

  .mobile-supplements-item
    input[type="checkbox"]:not(:checked)
    + .mobile-supplements-item-name {
    padding-left: 45px;
    padding-right: 16px;
  }

  .mobile-supplements-item
    input[type="checkbox"]:checked
    + .mobile-supplements-item-name {
    padding-left: 16px;
    padding-right: 45px;
  }

  .mobile-supplements-item-name {
    align-items: center;
    background: #fff;
    border-radius: 40px;
    border: 1px solid #8c9f3f;
    display: inline-flex;
    min-height: 38px;
    height: 100%;
    flex: 0 0 65%;
    position: relative;
    transition: all 0.2s;
    width: 65%;
    font-size: 14px;
  }

  .mobile-supplements-item
    input[type="checkbox"]:not(:checked)
    + .mobile-supplements-item-name::after {
    background-image: url("https://raw.githubusercontent.com/Kerchiano/storage-photos/168d09ccf9bf6face5013290c1d273a8d805b1d1/pizza_photos/icon-plus.svg");
    left: 2px;
  }

  .mobile-supplements-item
    input[type="checkbox"]:checked
    + .mobile-supplements-item-name::after {
    background-image: url("https://raw.githubusercontent.com/Kerchiano/storage-photos/168d09ccf9bf6face5013290c1d273a8d805b1d1/pizza_photos/icon-check.svg");
    right: 2px;
  }

  .mobile-supplements-item-name::after {
    background-color: #8c9f3f;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    font-size: 14px;
  }

  .mobile-supplements-item
    input[type="checkbox"]:not(:checked)
    ~ .mobile-supplements-item-price {
    color: #8d8d8d;
  }
  .mobile-supplements-item-price {
    display: inline-block;
    flex: 0 0 35%;
    font-weight: 700;
    padding-right: 18px;
    text-align: right;
    transition: all 0.2s;
    width: 35%;
  }

  .mobile-supplements-item
    input[type="checkbox"]:checked
    ~ .mobile-supplements-item-price
    .without_price {
    display: none;
  }

  .mobile-supplements-item
    input[type="checkbox"]:not(:checked)
    ~ .mobile-supplements-item-price
    .with_price {
    display: none;
  }

  .product-page-inside {
    padding-right: 0;
  }

  .product-img {
    height: auto;
    text-align: center;
    position: relative;
    display: block;
    width: auto;
    margin: 0 auto 20px;
  }

  .product-img img {
    width: auto;
    height: auto;
    max-width: 100%;
  }
  .description-desktop {
    display: none;
  }

  .supplements-less {
    display: none;
  }

  .product-page {
    padding: 20px 20px 0;
  }

  .product-page-content {
    padding-left: 0;
  }

  .product-page-inside {
    padding-right: 0;
  }

  .product-detail-description {
    width: 100%;
  }

  .description-mobile {
    color: rgba(0, 0, 0, 0.7);
    display: block;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 20px;
    border-bottom: none;
    padding-bottom: 0;
  }

  .bottom .free-delivery {
    display: none;
  }

  .bottom .discount {
    display: none;
  }

  .mobile-bottom {
    background-color: #fff;
    display: block;
    padding: 24px 0;
    width: 100%;
  }

  .price-wrap-btn {
    margin-bottom: 0;
  }

  .mobile-bottom-container {
    border: 1px solid #ccc;
    padding: 0 25px;
  }

  .free-delivery,
  .discount {
    width: 100%;
    background-image: none;
    padding: 16px 0;
    color: #262626;
  }

  .discount {
    border-top: 1px dashed #ccc;
  }
}

@media (max-width: 766px) {
  .product-detail-description h1 {
    margin-top: 0;
    font-size: 30px;
    line-height: 1.2;
  }

  .price-less span {
    font-size: 24px;
  }

  footer {
    padding: 40px;
  }
}

.skeleton {
  border-radius: 8px;
  margin-bottom: 40px;
}

.skeleton-line {
  background-color: #e0e0e0;
  border-radius: 4px;
}

@media (max-width: 1600px) {
  .products-list .product-item {
    width: calc(33.333% - 60px);
  }
  .restaurant-list .restaurant-item {
    width: calc(33.333% - 30px);
  }
}

@media (max-width: 1200px) {
  .products-list .product-item,
  .restaurant-list .restaurant-item {
    width: calc(50% - 60px);
  }
}

@media (max-width: 1023px) {
  main {
    margin-top: 120px;
    padding-left: 0 !important;
    padding-top: 0 !important;
  }

  .products-filters {
    padding: 10px 20px 0 !important;
    width: 100%;
    top: 120px;
  }

  header {
    height: 60px;
    transition: all 0.3s ease 0s;
  }

  .catalog-products {
    padding: 30px 20px 20px !important;
  }

  .seo-block {
    padding: 40px 20px;
  }
}

@media (max-width: 840px) {
  .products-list {
    margin: 0;
    justify-content: center;
  }

  .products-list .product-item {
    width: calc(50% - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }

  .restaurants {
    padding: 20px 20px 0 !important;
  }

  .restaurant-list {
    margin: 0 !important;
  }

  .restaurant-list .restaurant-item {
    width: calc(50% - 20px) !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  .restaurant-list .restaurant-item .worktime-phones {
    flex-wrap: wrap;
  }

  .restaurant-info {
    padding: 20px;
  }

  .restaurant-info .worktime-phones {
    flex-wrap: wrap !important;
    font-size: 20px !important;
    line-height: 30px !important;
  }

  .restaurant-info .worktime-phones .worktime {
    width: 100% !important;
    margin-bottom: 20px;
  }

  .restaurant-info .worktime-phones .phones {
    width: 100% !important;
  }

  .restaurant-info {
    padding: 20px !important;
  }
}

@media (max-width: 600px) {
  .products-list {
    padding: 0;
  }

  .products-list .product-item,
  .restaurant-list .restaurant-item {
    width: 100% !important;
    max-width: 375px;
    margin: 0 0 15px !important;
  }
  .logo-mafia {
    height: 22px;
  }

  .bottom {
    padding: 25px 15px;
  }
}

@media (max-width: 640px) {
  .contacts {
    left: -180px;
  }
}

@media (max-width: 1750px) {
  .catalog-products {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 479px) {
  .product-img img {
    height: 260px;
    object-fit: cover;
    width: 100%;
  }

  .product-detail-description h1 {
    font-size: 24px;
    line-height: 1.2;
  }

  .slick-prev,
  .slick-next {
    display: none !important;
  }
}

.restaurants-page {
  padding: 40px 40px 0;
  background: #fff;
}

.restaurants-page .block-title {
  font-size: 36px;
  line-height: 40px;
  font-family: "Museo", sans-serif;
  position: relative;
  margin-bottom: 60px;
  text-align: center;
  font-weight: 700;
}

.restaurants-page .block-title:after {
  content: "";
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -80px;
  width: 160px;
  height: 16px;
  background: url("https://raw.githubusercontent.com/Kerchiano/storage-photos/refs/heads/main/pizza_photos/fff.png")
    0 0 no-repeat;
}

.restaurants-page .restaurants-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.restaurants-page .restaurants-filter .city {
  height: 50px;
  border-top: 1px solid rgba(169, 144, 113, 0.2);
  border-bottom: 1px solid rgba(169, 144, 113, 0.2);
  position: relative;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.restaurants-page .restaurants-filter .city .city-toggle {
  position: relative;
  color: #000;
  text-decoration: none;
}

.restaurants-page .restaurants-filter .city .city-toggle:after {
  content: "";
  position: absolute;
  right: -15px;
  top: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: #000 transparent transparent transparent;
  color: #000;
  cursor: pointer;
}

.restaurants-page .restaurants-filter .city .cities-list-popup {
  display: block;
  position: absolute;
  background: #fff;
  left: 0;
  right: 0;
  top: 60px;
  border-radius: 3px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  z-index: 3423;
}

.restaurants-page
  .restaurants-filter
  .city
  .cities-list-popup
  ul
  li:first-child {
  border: none;
}

.restaurants-page .restaurants-filter .city .cities-list-popup ul li {
  height: 50px;
  border-top: 1px solid rgba(169, 144, 113, 0.2);
}

.restaurants-page .restaurants-filter .city .cities-list-popup ul li a {
  text-decoration: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #000;
}

.restaurants {
  padding: 40px 40px 0;
  background: #fff;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px;
}

.restaurant-list .restaurant-item {
  border: 1px solid #eee9e3;
  margin: 0 15px 30px;
  padding: 0 0 70px;
  position: relative;
}

.restaurant-list .restaurant-item .img {
  display: block;
  width: 100%;
  height: 270px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.restaurant-list .restaurant-item .img img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  display: block;
}

.restaurant-list .restaurant-item .address {
  font-family: Museo, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 30px;
  padding: 0 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.restaurant-list .restaurant-item .worktime-phones {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 15px;
  line-height: 20px;
  padding: 0 30px 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.restaurant-list .restaurant-item .worktime-phones span {
  font-size: 14px;
}

.restaurant-list .restaurant-item .worktime-phones span {
  font-size: 14px;
}

.restaurant-list .restaurant-item .info-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 1px solid #e7e7e7;
  z-index: 1;
}

.restaurant-list .restaurant-item .info {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.restaurant-list .restaurant-item .info img {
  display: inline-block;
  vertical-align: top;
}

.rest-detail {
  padding-bottom: 40px;
}

.rest-detail .block-title {
  margin-bottom: 40px;
}

.restaurant-img-section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  max-width: 100%;
  object-fit: cover;
  margin-top: 60px;
  padding-bottom: 40px;
}

.restaurant-img-section img {
  object-fit: cover;
  height: 650px;
  width: 100%;
}

.restaurant-info {
  padding: 40px;
}

.restaurant-info .worktime-phones {
  display: flex;
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e7e7e7;
}

.restaurant-info .worktime-phones .worktime {
  width: 50%;
  background: url("https://raw.githubusercontent.com/Kerchiano/storage-photos/refs/heads/main/pizza_photos/dtime.png")
    0 0 no-repeat;
  padding-left: 55px;
}

.restaurant-info .worktime-phones .worktime span,
.restaurant-info .worktime-phones .phones span {
  font-size: 14px;
  line-height: 20px;
  display: block;
}

.restaurant-info .worktime-phones .phones {
  width: 50%;
  background: url("https://raw.githubusercontent.com/Kerchiano/storage-photos/refs/heads/main/pizza_photos/dphone.png")
    0 0 no-repeat;
  padding-left: 55px;
}

.restaurant-info .description {
  margin-bottom: 40px;
}

.restaurant-info .description p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
  font-family: "Museo", sans-serif;
}

.restaurant-info .info img {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.pop-cart {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99999;
  display: none;
  transition: 0.3s ease;
  overflow: hidden;
}

.pop-cart.block {
  display: block;
}

.cart-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 480px;
  background: #fff;
  padding: 50px;
  box-shadow: 0 0 30px rgba(51, 51, 51, 0.2);
  transform: translateX(100%);
  transition: all 0.3s;
}

.cart-container.active-transform {
  transform: translateX(0%);
}

.pop-cart .cart-container .title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.pop-cart .cart-container .cart-item-list {
  height: calc(100% - 165px);
  position: relative;
  margin: 0 -50px 30px;
  padding: 30px 50px;
  border-top: 1px solid rgba(169, 144, 113, 0.2);
  border-bottom: 1px solid rgba(169, 144, 113, 0.2);
  overflow: hidden;
  overflow-y: scroll;
}

.pop-cart .cart-container .full-price {
  display: flex;
  justify-content: space-between;
}

.pop-cart .cart-container .full-price span {
  color: #000;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 30px;
}

.pop-cart .cart-container .full-price span:first-child {
  font-size: 16px;
}

.pop-cart .cart-container .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid rgba(169, 144, 113, 0.2);
}

.pop-cart .cart-container .cart-item:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}

.pop-cart .cart-container .cart-item .img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 3px;
}

.pop-cart .cart-container .cart-item .img img {
  max-width: 100%;
}

.pop-cart .cart-container .cart-item .description {
  width: calc(100% - 125px);
  padding: 0 20px;
  border-bottom: none;
}

.pop-cart .cart-container .cart-item .description .item-title {
  display: block;
  width: 100%;
  color: #000;
  font-size: 18px;
  line-height: 24px;
  font-family: Museo, sans-serif;
  word-wrap: break-word;
}

.pop-cart .cart-container .cart-item .description .item-count {
  color: #999;
  font-size: 14px;
  line-height: 24px;
  margin: 5px auto;
  font-weight: 300;
}

.pop-cart .cart-container .cart-item .description .item-count .spinner {
  display: flex;
  align-items: center;
}

.pop-cart .cart-container .cart-item .description .item-count .spinner input {
  color: #767676;
  font-size: 14px;
  background: 0 0;
  border: none;
  width: 35px;
  text-align: center;
  height: 20px;
  line-height: normal;
}

.item-price {
  color: #000;
  font-size: 24px;
  line-height: 24px;
}

.registration-form,
.login-form {
  padding: 30px;
  background-color: white;
}

.registration-form input,
.login-form input,
.personad-data-form input,
#gender {
  width: 100%;
  padding: 0 20px;
  border-radius: 3px;
  height: 50px;
  line-height: 48px;
  color: #000;
  font-size: 16px;
}

.registration-form button,
.login-form button,
.personad-data-form button {
  margin: auto;
  background: #8c9f3f;
  color: #fff;
  font-size: 16px;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  text-align: center;
  display: block;
  width: 70%;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.personad-data-form button {
  width: 100%;
  margin: 20px auto 0;
  max-width: 260px;
}

.personad-data-form button:hover,
.registration-form button:hover,
.login-form button:hover {
  background: #91b306;
}

.personal-data-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile-container {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}

.profile-container h1 {
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: 700;
}

.profile-tabs {
  background: #fff;
  border: 1px solid #eee9e3;
  padding: 0 30px;
  display: flex;
  position: relative;
}

.tab {
  height: 75px;
  line-height: 75px;
  display: block;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  position: relative;
  margin-right: 35px;
  background: 0 0;
  border: none;
  box-shadow: none;
  outline: none;
}

.user-logout {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  padding: 0 5px;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 3px;
  border: none;
  text-align: center;
  height: 75px;
  line-height: 75px;
  display: block;
  color: #000;
  margin-right: 35px;
  background-color: transparent;
}

.data-container {
  padding: 30px;
  background: #fff;
  border: 1px solid #eee9e3;
  border-top: none;
  padding-bottom: 15px;
}

.personad-data-form input:disabled {
  border: none;
  background-color: transparent;
  font-weight: 600;
}

.personad-data-form input[name="phone_number"] {
  padding: 0;
}

.personad-data-form div {
  width: calc(50% - 20px);
  margin-bottom: 30px;
}

.form-title {
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 567px) {
  .personad-data-form div {
    width: 100%;
    margin: 20px 0 0;
    font-size: 14px;
  }

  .personad-data-form {
    display: block;
  }

  .form-title {
    text-transform: none;
  }
}

@media (max-width: 427px) {
  .user-logout {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 15px 10px 0;
    padding: 0;
    height: auto;
    line-height: 1;
  }
  .tab {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 15px 10px 0;
    padding: 0;
    height: auto;
    line-height: 1;
  }

  .profile-tabs {
    display: block;
    padding: 15px 0;
    text-align: center;
  }
}

.success-mesage {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 1.2;
  color: #91b306;
  margin-bottom: 0 !important;
}

.delivery-addresses {
  margin-top: 30px;
}

.delivery-addresses > .title {
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.list-delivery-address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.address-item {
  border-top: none;
  padding: 20px 0 20px 50px;
  padding-left: 0;
  display: flex;
  width: 100%;
}

.address-item .title {
  line-height: 18px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.address-item .value {
  line-height: 24px;
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

.remove-item {
  width: 25px;
  height: 25px;
  background: url("https://raw.githubusercontent.com/Kerchiano/storage-photos/refs/heads/main/pizza_photos/remove-item.png")
    0 0 no-repeat;
  opacity: 0.6;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.add-delivery-address {
  padding: 15px;
  margin: 0 -15px;
  background: #eee9e3;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.add-delivery-address .title {
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.new-address {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.add-delivery-address {
  padding: 15px;
  margin: 0 -15px;
  background: #eee9e3;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.city-field,
.house_number-field {
  width: calc(15% - 20px);
  margin-bottom: 20px;
}

.street-field {
  width: calc(45% - 20px);
  margin-bottom: 20px;
}

.floor-field,
.entrance-field,
.flat-field {
  width: calc(10% - 20px);
  margin-bottom: 20px;
}

.add-delivery-address input {
  width: 100%;
  padding: 0 20px;
  border-radius: 3px;
  height: 50px;
  line-height: 48px;
  color: #000;
  font-size: 16px;
}

.add-delivery-address button {
  background: #8c9f3f;
  color: #fff;
  font-size: 14px;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  text-align: center;
  display: block;
  width: calc(25% - 20px);
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-delivery-address button:hover {
  background: #91b306;
}

.add-delivery-address select {
  padding: 0px 20px;
  text-indent: 0px;
  border-radius: 3px;
  width: 100%;
  height: 50px;
  font-size: 14px;
  line-height: 48px;
  font-family: Museo, sans-serif;
  color: #000000;
  border: 1px solid #eee9e3;
}

@media (max-width: 840px) {
  .delivery-addresses > .title {
    text-transform: none;
  }
}

@media (max-width: 735px) {
  .add-delivery-address {
    padding: 20px;
    margin: 0;
  }

  .city-field,
  .house_number-field {
    width: calc(15% - 10px);
  }

  .floor-field,
  .entrance-field,
  .flat-field {
    width: calc(10% - 10px);
  }

  .street-field {
    width: calc(45% - 10px);
  }

  .add-delivery-address button {
    width: auto;
  }

  .city-field select {
    padding: 0 0 0 10px;
  }
}

@media (max-width: 567px) {
  .add-delivery-address {
    margin-top: 10px;
    display: block;
  }

  .new-address {
    font-size: 0;
    display: block;
  }

  .city-field,
  .street-field {
    width: 100%;
    margin: 20px 0 0;
    font-size: 14px;
  }

  .house_number-field,
  .floor-field,
  .entrance-field,
  .flat-field {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 5px);
  }

  .house_number-field,
  .entrance-field {
    margin-right: 10px;
  }

  .add-delivery-address button {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .address-item {
    position: relative;
    flex-wrap: wrap;
  }

  .street-block,
  .entrance-block,
  .house_number-block,
  .flat-block,
  .city-block,
  .floor-block {
    margin-bottom: 5px;
    margin-right: 5px;
  }

  .street-block,
  .entrance-block {
    flex: 1 1 40%;
  }

  .house_number-block,
  .flat-block {
    flex: 1 1 30%;
  }

  .city-block,
  .floor-block {
    flex: 1 1 20%;
  }

  .block-remove-item {
    position: absolute;
    right: -30px;
  }
}

.not-address,
.not-orders {
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}

.not-orders {
  margin-left: 28px;
}

.checkout-link {
  background: #8c9f3f;
  color: #fff;
  font-size: 16px;
  width: 100%;
  text-align: center;
  display: block;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.checkout-link:hover {
  background: #91b306;
}

@media (max-width: 840px) {
  .cart-container {
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .cart-container {
    width: 320px;
  }

  .cart-item .img {
    display: none;
  }

  .cart-item .description {
    width: calc(100% - 25px) !important;
  }
}

.checkout-page {
  padding: 20px;
  background: #f4f4f4;
  min-height: 75vh;
}

.checkout-container {
  margin: 0 auto;
  width: 900px;
}

.checkout-container h1 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  position: relative;
  margin: 0 0 40px;
  text-align: center;
}

.checkout-cart {
  background: #fff;
  border: 1px solid #eee9e3;
  padding: 25px 30px;
  margin-bottom: 30px;
}

.checkout-list-header {
  display: flex;
  color: #000;
  font-size: 16px;
  margin: 0 -30px 25px;
  padding: 0 30px 25px;
  border-bottom: 1px solid rgba(169, 144, 113, 0.2);
}

.checkout-list-header .title {
  width: 385px;
}

.checkout-list-header .checkout-price {
  width: 120px;
  text-align: center;
}

.checkout-list-header .amount {
  width: 155px;
  text-align: center;
}

.checkout-list-header .sum {
  width: 140px;
  text-align: center;
}

.checkout-item:first-child {
  border: none;
  padding-top: 0;
  margin-top: 0;
}

.checkout-item {
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(169, 144, 113, 0.2);
  padding: 25px 0;
}

.checkout-item .img {
  border-radius: 3px;
  overflow: hidden;
  width: 80px;
  height: 80px;
  margin-right: 20px;
  cursor: pointer;
}

.checkout-item .img img {
  width: 100%;
  height: auto;
}

.checkout-item .title {
  color: #000;
  font-size: 18px;
  line-height: 24px;
  width: 260px;
  cursor: pointer;
  text-decoration: underline;
}

.checkout-item .title:hover {
  text-decoration: none;
}

.checkout-item .price {
  color: #000;
  font-size: 18px;
  line-height: 24px;
  width: 90px;
  text-align: right;
  margin-left: 30px;
}

.checkout-count {
  margin-left: 60px;
  width: 95px;
}

.checkout-spinner {
  display: flex;
  align-items: center;
}

.checkout-spinner input {
  color: #767676;
  font-size: 14px;
  background: 0 0;
  border: none;
  width: 35px;
  text-align: center;
  height: 20px;
}

.item-sum {
  color: #000;
  font-size: 18px;
  line-height: 24px;
  width: 100px;
  text-align: right;
  margin-left: 40px;
}

.checkout-remove-item {
  width: 28px;
  height: 28px;
  text-decoration: none;
  display: block;
  margin-left: 40px;
}

.checkout-main {
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  padding-left: 80px;
}

.checkout-cart-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
  padding-top: 25px;
  text-align: center;
}

.checkout-cart-footer span {
  color: #767676;
  font-size: 14px;
  line-height: 1.2;
}

.checkout-cart-footer .final-sum {
  color: #000;
  font-size: 16px;
  padding: 0 10px;
}

.checkout-cart-footer .final-sum span {
  color: #8c9f3f;
  display: inline-block;
  margin-left: 15px;
  font-size: 24px;
  line-height: 30px;
}

.checkout {
  padding: 0;
  border: none;
  background: 0 0;
}

.delivery-tabs {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid #8c9f3f;
  flex-direction: row-reverse;
}

.checkout-tab {
  width: 49.6%;
  padding: 25px 35px;
  background: rgba(194, 210, 130, 0.5);
  border-radius: 3px 3px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.checkout-tab.active {
  background: #8c9f3f;
}

.checkout-tab .text {
  width: 65%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.checkout-tab.active .text {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.checkout-tab .text div:first-child {
  color: #000;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.checkout-tab.active .text div:first-child {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
}

.checkout-tab .price {
  width: 30%;
  text-align: center;
  color: #8c9f3f;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.checkout-tab .text div {
  color: #8c9f3f;
  font-size: 14px;
  line-height: 20px;
  font-family: Museo700, sans-serif;
  text-transform: uppercase;
}

.checkout-tab.active .text div {
  color: #dcf282;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.checkout-tab.active .price {
  color: #fff;
}

.courier-delivery {
  padding: 30px;
  background: #fff;
  margin-bottom: 30px;
}

.courier-delivery-form,
.restaurant-delivery-form,
.review-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.courier-delivery-form .form-field,
.restaurant-delivery-form .form-field {
  width: calc(50% - 20px);
  margin-bottom: 35px;
  position: relative;
}

.courier-delivery-form .form-field label,
.restaurant-delivery-form .form-field label {
  display: block;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}

.courier-delivery-form .form-field input[type="text"],
.restaurant-delivery-form input[type="text"] {
  width: 100%;
  padding: 0 20px;
  border-radius: 3px;
  height: 50px;
  line-height: 48px;
  color: #000;
  font-size: 16px;
}

.courier-delivery-form .form-field input:disabled,
.restaurant-delivery-form .form-field input:disabled {
  border: none;
  background-color: transparent;
  font-size: 18px;
  padding: 0;
}

.delivery-address {
  width: 100%;
  display: block;
  padding-top: 35px;
  border-top: 1px solid rgba(169, 143, 113, 0.1);
  border-bottom: 1px solid rgba(169, 143, 113, 0.1);
  margin-bottom: 35px;
}

.exist-or-new-address {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.exist-or-new-address .city-field,
.exist-or-new-address .street-field {
  width: calc(27% - 30px);
}

.exist-or-new-address .house_number-field,
.exist-or-new-address .floor-field,
.exist-or-new-address .entrance-field,
.exist-or-new-address .flat-field {
  width: calc(14% - 30px);
}

.estetic-line {
  width: 100%;
  border-top: 1px solid rgba(169, 143, 113, 0.1);
  margin-bottom: 40px;
}

.courier-delivery form .form-field select,
.restaurant-delivery-form .form-field select {
  width: 100%;
  padding: 0 20px;
  border-radius: 3px;
  height: 50px;
  line-height: 48px;
  color: #000;
  font-size: 16px;
  cursor: pointer;
}

.order-finalise {
  width: 340px;
  margin: 30px auto 0;
  margin-bottom: 20px;
}

.order-finalise-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.order-finalise-row div {
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.order-finalise-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.order-finalise .order-finalise-price div {
  color: #8c9f3f;
  font-size: 24px;
  font-weight: 700;
}

.checkout-btn-courier,
.checkout-btn-restaurant {
  background: #8c9f3f;
  color: #fff;
  font-size: 16px;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  text-align: center;
  display: block;
  width: 340px;
  margin: 0 auto 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.checkout-btn-courier:hover,
.checkout-btn-restaurant:hover {
  background: #91b306;
}

.restaurant-delivery {
  padding: 30px;
  background: #fff;
  margin-bottom: 30px;
}

.error-page {
  padding: 40px;
  text-align: center;
}

.error-page h1 {
  font-weight: normal;
  text-align: center;
  font-size: 24px;
  color: #000;
}

.error-page .error-type {
  text-align: center;
  font-size: 145px;
  font-weight: 700;
  color: #000;
}

.error-page .error-text {
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
  color: #000;
}

.error-page img {
  max-width: 100%;
  height: auto;
}

.whoops-container {
  margin: 30px;
  max-width: 600px;
}

.whoops-container h1 {
  color: #dc3545;
  font-size: 24px;
}

.history-container {
  padding: 30px;
  background: #fff;
  border: 1px solid #eee9e3;
  border-top: none;
}

.history-block > .title {
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.history-list {
  margin: 0 -30px;
}

.history-item:first-child {
  border-top: 1px solid #eee9e3;
}

.history-item {
  padding-bottom: 0;
  border-bottom: 1px solid #eee9e3;
  position: relative;
}

.history-item > .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  padding: 15px 60px 15px 30px;
  cursor: pointer;
  z-index: 2;
}

.order-detail {
  position: relative;
  font-size: 18px;
  padding-left: 34px;
  display: flex;
}

.order-detail::before {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.history-item:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 6px 0 6px;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  right: 30px;
  top: 35px;
  transition: transform 0.3s ease-out;
  z-index: 1;
}

.history-item.open:after {
  transform: scale3d(-1, -1, -1);
}

.history-item.open {
  background: #f6f4f1;
  padding-bottom: 0;
}

.history-item > .order {
  height: auto;
  padding: 15px 30px;
  overflow: hidden;
  background: #eee9e3;
  color: #000;
}

.order-position {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.order-position .price {
  font-size: 16px;
  height: auto;
  width: auto;
  line-height: normal;
}

.history-item .order-sum {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  padding-top: 10px;
}

.history-item .order-delivery-price,
.history-item .order-package,
.history-item .order-total {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
}

.popup-body {
  width: 100%;
}

.radio-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.popup-body .title {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px;
  color: #333333;
  font-weight: bold;
}

.feedback-type {
  color: #333333;
  font-size: 16px;
  display: block;
  cursor: pointer;
  padding: 15px 30px 15px 55px;
  width: 100%;
}

.review-form .form-field {
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

.review-form .form-field label {
  display: block;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}

.review-form .form-field input[type="text"],
.review-form .form-field select {
  width: 100%;
  padding: 0 20px;
  border-radius: 3px;
  height: 50px;
  line-height: 48px;
  color: #000;
  font-size: 16px;
}

.review-form div:nth-child(2) {
  width: 100%;
}

.review-form div:nth-child(2) textarea {
  width: 100%;
  padding: 10px 20px;
  border-radius: 3px;
  height: 95px;
  line-height: 24px;
  color: #000;
  font-size: 16px;
}

.review-form button {
  background: #8c9f3f;
  color: #fff;
  font-size: 16px;
  line-height: 50px;
  height: 50px;
  border: none;
  width: 100%;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  display: block;
  padding: 0;
  transition: all 0.3s ease;
}

.review-form button:hover {
  background: #91b306;
}

.modal-review-content {
  overflow: hidden;
  height: 100%;
  max-height: 641px;
  color: black;
  padding: 30px;
  margin: auto;
  width: 600px;
  border-radius: 5px;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: absolute;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  outline: none;
}

.modal-review-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  transition: opacity 0.3s ease-in-out;
  position: fixed;
  inset: 0px;
}

.modal-review-success-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  transition: opacity 0.3s ease-in-out;
  position: fixed;
  inset: 0px;
}

.modal-registration-content {
  color: black;
  padding: 20px;
  margin: auto;
  width: 500px;
  height: 350px;
  position: absolute;
  inset: 40px;
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  outline: none;
  text-align: center;
}

.modal-order-content,
.modal-review-success-content {
  color: black;
  padding: 20px;
  margin: auto;
  width: 500px;
  height: 350px;
  position: absolute;
  inset: 40px;
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  outline: none;
  text-align: center;
}

.restaurants {
  min-height: 600px;
}

@media (max-width: 1023px) {
  .checkout-container {
    width: 100%;
  }

  .checkout-main {
    margin-top: 120px;
  }

  .checkout-item .img {
    width: 60px;
    height: 60px;
  }

  .checkout-list-header .title {
    width: 235px;
  }

  .checkout-list-header .checkout-price {
    width: 120px;
    text-align: center;
  }

  .checkout-list-header .amount {
    width: 155px;
    text-align: center;
  }

  .checkout-list-header .sum {
    width: 140px;
    text-align: center;
  }

  .checkout-item .title {
    font-size: 14px;
    line-height: 20px;
    width: 135px;
  }

  .checkout-item .title {
    font-size: 14px;
    line-height: 20px;
  }

  .checkout-item .item-sum {
    font-size: 14px;
    line-height: 20px;
  }

  .checkout-auth-container a:first-of-type {
    font-size: 24px;
  }

  .checkout-auth-container span {
    font-size: 24px;
  }

  .checkout-auth-container a:last-of-type {
    font-size: 24px;
  }
}

.checkout-auth-container {
  background: #fff;
  border: 1px solid #eee9e3;
  padding: 30px;
}

@media (max-width: 767px) {
  .checkout-list-header {
    display: none;
  }

  .checkout-container h1 {
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 25px;
  }

  .checkout-item .img {
    display: none;
  }

  .checkout-item {
    padding: 20px 0;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .checkout-item .title {
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    margin-bottom: 10px;
  }

  .checkout-item .price {
    display: none;
  }

  .checkout-item .checkout-count {
    margin-left: 10px;
  }

  .checkout-item .item-sum {
    width: 65px;
    margin-left: 10px;
  }

  .checkout-remove-item {
    margin-left: 10px;
  }

  .checkout-cart-footer {
    display: block;
    padding-top: 15px;
  }

  .checkout-cart-footer .final-sum {
    padding: 0;
  }

  .checkout-tab,
  .checkout-tab.active {
    flex-wrap: wrap;
    padding: 10px;
    align-items: flex-start;
  }

  .checkout-tab .text,
  .checkout-tab.active .text {
    width: 100%;
    border-right: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    padding-bottom: 10px;
    min-height: 91px;
  }

  .checkout-tab .text div:first-child,
  .checkout-tab.active .text div:first-child {
    font-size: 14px !important;
  }

  .checkout-tab .text div,
  .checkout-tab.active .text div {
    font-size: 12px !important;
  }

  .checkout-tab .price,
  .checkout-tab.active .price {
    width: 100%;
    text-align: left;
    font-size: 14px;
    justify-content: flex-start;
  }

  .courier-delivery form .form-field,
  .restaurant-delivery form .form-field {
    width: 100%;
    margin-bottom: 15px;
  }

  .error-page .error-type {
    font-size: 100px;
  }

  .error-page .error-text {
    font-size: 18px;
  }
}

@media (max-width: 735px) {
  .courier-delivery,
  .restaurant-delivery {
    padding: 20px;
  }
}

@media (max-width: 640px) {
  .radio-btns {
    flex-wrap: wrap;
  }

  .review-form .form-field {
    width: 100%;
  }

  .modal-review-content {
    max-height: 987px;
    height: 100%;
    left: 15px;
    overflow: scroll;
    max-width: calc(100% - 30px);
    padding: 30px 20px;
  }

  .modal-registration-content,
  .modal-order-content,
  .modal-review-success-content {
    width: 100%;
    left: 0;
  }
}

@media (max-width: 600px) {
  .order-finalise {
    max-width: 100%;
  }

  .checkout-btn-courier,
  .checkout-btn-restaurant {
    width: 280px;
  }
}
